<!-- Modal -->
<div class="modal fade" id="addSSLModal" tabindex="-1" aria-labelledby="addSSLModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color: #0EA3BD;">Add SSL</h5>
        </div>
        <div class="modal-body">
            <p>To add a Lets Encrypt SSL certificate to your redirect, follow the instructions below.</p>
            <br>
            <h5 style="color: #0EA3BD;">Step 1 - Allow Lets Encrypt to validate domain ownership</h5>
            <p style="color: red;">Before progressing, ensure your domain is pointing to the redirect correctly.</p>

            <p>Now open Lets Encrypt in the command line and run the command below:</p>
            <strong>sudo certbot certonly --email hello@redirectable.co -d redirectable.co --agree-tos --manual</strong>
            <br><br>

            <p>Once you have run the command above, Lets Encrypt will provide you with codes to enter in the boxes below:</p>

            {{sslsetupform.as_p}}

            <button type="button" class="btn btn-primary">Confirm</button>
            <br><br>
            <h5 style="color: #0EA3BD;">Step 2 - Upload the Lets Encrypt SSL Certificate</h5>
            <p>Once you have clicked confirm above, click enter in the command line to complete the Lets Encrypt process</p>

            <p>At this point, Lets Encrypt should have provided you with the required certificates. Use the upload button below to upload the correct certificate file to your redirect then hit "Save".</p>
            <form class="" action="/uploadsslcert/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <p>
                <label for="id_le_cert">Lets Encrypt SSL Cert:</label>
                <input type="file" name="le_cert" class="form-control" placeholder="sslcert.cert" required="" id="id_le_cert">
                <input type="hidden" name="redirect_id" value="9"> <!-- TODO: This needs to be populated with the ID for the row -->
              </p>
              <input type="submit" class="btn btn-primary" value="Upload">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>