{% extends "includes/base.html" %}
{% load static %}
{% block title_block %}
    <h1 >Dashboard</h1>
{% endblock %}
{% block content %}

<div class="row mt-4 align-items-center">
    <div class="col-lg-12">
        <form action="" method="post">
            {% csrf_token %}
            <h2>Dashboard</h2>
            <br /><br />
            <h5>Add New Redirect</h5><br />
            <div class="row">
                <div class="col-lg-4">
                    <label>Redirect From</label>
                    {{form.url_from}}
                </div>
                <div class="col-lg-1">
                    <label>To</label>
                    {{form.http_https}}
                </div>
                <div class="col-lg-6 mt-4">
                    {{form.url_to}}
                </div>
                <div class="col-lg-1 mt-4">
                    <input type="submit" value="Add">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-4">
    {% if redirects %}
    <h5>Redirects</h5><br />
    {% for r in redirects %}
        <div class="row">
            <div class="col-lg-12">
                Redirect from: {{r.url_from}} to: {{r.http_https}}://{{r.url_to}}
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}